<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victoria.foodconnect">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_give_food"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_give_food"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodConnect">
        <activity android:name=".pages.admin.AdminActivity" />
        <activity android:name=".pages.beneficiary.BeneficiaryActivity" />
        <activity android:name=".pages.certifiedAuth.CertifiedAuthorityActivity" />
        <activity android:name=".pages.seller.SellerActivity" />
        <activity android:name=".pages.transporter.TransporterActivity" />
        <activity android:name=".pages.welcome.WelcomeActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>